.todo {
  display: flex;
  align-items: center;

  padding: 10px 20px;
  margin: 15px 0;

  font-size: 1.5rem;

  border-radius: 5px;

  color: #112d49;
  background-color: #fbfef9;

  user-select: none;

  &:hover {
    color: darkolivegreen;
  }
}

.selectedTodo {
  background-color: #e3fbd3;
  color: darkolivegreen;
}

.todoText {
  width: 100%;
  text-align: left;
  overflow-wrap: anywhere;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todoIcon {
  margin-right: 10px;
  color: teal;
  font-size: 1.8rem;
}

:host ::ng-deep .deleteButton,
:host ::ng-deep .completeButton {
  height: unset;
  padding: 0 7px;
  background-color: unset;
  color: lightgray;
}
:host ::ng-deep .todo.completedTodo .deleteButton,
:host ::ng-deep .todo.completedTodo .completeButton {
  color: grey;
}
:host ::ng-deep .todo .deleteButton:hover {
  filter: unset;
  color: red;
  transform: scale(1.3);
}
:host ::ng-deep .todo .completeButton:hover {
  filter: unset;
  color: green;
  transform: scale(1.3);
}
:host ::ng-deep .todo.completedTodo .completeButton:hover {
  filter: unset;
  color: goldenrod;
  transform: scale(1.3);
}

.completedTodo,
.todo.completedTodo .todoIcon {
  background-color: unset;
  color: grey;
}

.completedTodo {
  border: 1px solid grey;
}
