.todo {
  display: flex;
  align-items: center;

  padding: 10px 20px;
  margin: 15px 0;

  font-size: 1.5rem;

  border-radius: 5px;

  color: #112d49;
  background-color: #fbfef9;

  user-select: none;

  &:hover {
    color: darkolivegreen;
  }
}

.selectedTodo {
  background-color: #e3fbd3;
  color: darkolivegreen;
}

.todoText {
  width: 100%;
  text-align: left;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todoIcon {
  margin-right: 10px;
}

:host ::ng-deep .deleteButton {
  height: unset;
  padding: unset;
  background-color: unset;

  background-image: url("/icon-delete.png");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 1.5rem 1.5rem;
  padding-left: 25px;
}
:host ::ng-deep .deleteButton:hover {
  color: red;
  transform: scale(1.3);
}
