<h1>Todo List</h1>

@if(isLoading) {
<app-loader />
} @else {
<ul class="todoListContainer">
  @for (task of tasks; track task.id) {
  <app-to-do-list-item
    [task]="task"
    [isSelected]="task.id === taskId"
    (deleteTaskEvent)="onDelete(task.id)"
    (completeTaskEvent)="onComplete(task.id)"
    (click)="onItemClick(task.id)"
  />
  } @empty {
  <li>Todo list is empty</li>
  }
</ul>

<div class="todoFormContainer">
  <form>
    <textarea
      #textarea
      [placeholder]="inputPlaceholder"
      [(ngModel)]="taskDescription"
      [ngModelOptions]="{ standalone: true }"
      (keydown)="onTextareaKeydown($event)"
      autofocus
      maxlength="130"
      rows="2"
      spellcheck="true"
    ></textarea>
    <div class="buttons">
      <app-button
        type="button"
        [disabled]="!!taskId"
        appTooltip="Click on the button to reload data from storage."
        (click)="onReload()"
      >
        Reload from storage
      </app-button>
      <app-button
        type="submit"
        [disabled]="!taskDescription.trim()"
        appTooltip="Click on the button to confirm the input."
        (click)="onSave($event)"
      >
        Confirm
      </app-button>
    </div>
  </form>
</div>
}
