.filtersContainer {
  margin-bottom: 20px;
}

:host ::ng-deep .filtersContainer .filterButton {
  background-color: unset;
  color: white;
  border: none;
}
:host ::ng-deep .filtersContainer .filterButton:disabled {
  color: grey;
}
:host ::ng-deep .filtersContainer .filterButton:hover {
  filter: unset;
}
:host ::ng-deep .filtersContainer .filterButton:hover:enabled {
  color: goldenrod;
  transform: scale(1.3);
}

li {
  margin: 25px 0;
}

.todoListContainer {
  list-style: none;
  padding: 0 10px;
  border: 1px solid;
  border-radius: 10px;
  font-size: 1.5rem;
}

.todoFormContainer {
  margin-top: 30px;

  form {
    text-align: center;
  }

  textarea {
    width: 100%;
    resize: none;
    overflow: auto;

    padding: 10px 15px;

    font-size: 1.5rem;

    border: 3px solid transparent;
    border-radius: 5px;

    &:focus {
      outline: none;
    }
  }

  .buttons {
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}
