<h1>Todo List</h1>

<ul class="todoListContainer">
  @for (task of tasks; track task.id) {
  <app-to-do-list-item [task]="task" (deleteTaskEvent)="onDelete(task.id)" />
  } @empty {
  <li>Todo list is empty</li>
  }
</ul>

<div class="todoFormContainer">
  <form>
    <input
      type="text"
      placeholder="Add your new todo"
      [(ngModel)]="newTaskDescription"
      [ngModelOptions]="{ standalone: true }"
      autofocus
    />
    <button
      type="submit"
      [disabled]="!newTaskDescription.trim()"
      (click)="onAdd($event)"
    >
      Add task
    </button>
  </form>
</div>
