<h1>Todo List</h1>

@if (isLoading$ | async) {
  <app-loader />
} @else {
  <div class="filtersContainer">
    <app-button
      className="filterButton"
      type="button"
      [disabled]="!!selectedId"
      appTooltip="Click here to change the filter value."
      (click)="onFilterUncompletedTasksOnlyToggle()"
    >
      {{ filterUncompletedTasksOnlyLabel$ | async }}
    </app-button>
  </div>

  <ul class="todoListContainer">
    @for (task of tasks$ | async; track task.id) {
      <app-to-do-list-item
        [task]="task"
        [isSelected]="task.id === selectedId"
        (deleteTaskEvent)="onDelete(task.id)"
        (completeTaskEvent)="onComplete(task.id)"
        (click)="onItemClick(task.id)"
      />
    } @empty {
      <li>Todo list is empty</li>
    }
  </ul>

  <router-outlet />
}

<div class="buttons">
  <app-button
    type="button"
    [disabled]="!!selectedId || !!(isLoading$ | async)"
    appTooltip="Click on the button to reload data from the storage."
    (click)="onReload()"
  >
    Reload from the storage
  </app-button>
</div>
