li {
  margin: 25px 0;
}

.todoListContainer {
  list-style: none;
  padding: 0 10px;
  border: 1px solid;
  border-radius: 10px;
  font-size: 1.5rem;
}

.todoFormContainer {
  margin-top: 30px;

  form {
    text-align: center;
  }

  input,
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    height: 50px;
  }

  input {
    width: 45%;
    &:focus {
      outline: none;
    }
  }

  button {
    margin-left: 20px;
    cursor: pointer;
    background-color: beige;
    transition: 0.3s;
    &:hover {
      filter: saturate(500%);
    }
    &:disabled {
      cursor: unset;
      background-color: unset;
      color: grey;
      border: 1px solid;
    }
  }
}
