/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  color: white;
  background-color: #112d49;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  margin-top: 24px;
}

.tooltip {
  position: absolute;
  transition: 1.3s;
  max-width: 70vw;
  font-size: 1.5rem;
  color: #112d49;
  background-color: beige;
  border: 1px solid #112d49;
  border-radius: 5px;
  padding: 5px;
  pointer-events: none;
}
